<section id="app" class="movie-genres">
  <div class="movie-wrapper">
    <video autoplay >
      <aside class="">
        <h4 class="movie-title">{{ defaultMovies.movies_title }}</h4>
        <span class="movie-year">{{defaultMovie.movies_year}}
          &nbsp;&nbsp;&nbsp;
          {{defaultMovie.movies_runtime}}
        </span>
        <i class="movie-genre">{{defaultMovie.genre_name}}</i>
      </aside>
      <source src="videos/{{ defaultMovie.movies_trailer }}" type="video/mp4">
        <!-- should load in fallback sources here -->
    </video>
  </div>

  <section class="genre-lists" v-for="genre in genres">
    <div v-if="genre.movies.length > 0">
      <div class="genre-item">
        <h6 class="genre-name">${ genre.name }</h6>
        <div class="movie-list" v-for="movie in genre.movies">
          <a href="'/movies/'+ movie.movie_id" class="href"></a>
          <img :src="'/images/'+ movie.movies_cover" :alt="movie.movies_title" class="movie-thumb">
        </div>
      </div>
    </div>
  </section>
</section>
